body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3f5f6;
}
h1 {
  color: #0c151c;
  font-size: 34px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #666464;

  font-size: 16px;
  font-weight: 300px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app-card {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #d9d9db;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.country {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature .active {
  color: #0c151c;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

#temperature {
  color: #0c151c;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
  font-size: 16px;
}
.weatherInfo li strong {
  color: #8cc8f2;
  font-weight: 400;
}
.search-button {
  width: 100px;
  padding: 6px 10px;
  background-color: #8cc8f2;
  color: #fff;
  border: 1px solid #8cc8f2;
  border-radius: 4px;
}
.form-control {
  border: 1px solid #8cc8f2;
  border-radius: 4px;
}
#search-form {
  margin-bottom: 30px;
}
.weather-forecast {
  margin-top: 30px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 16px;
  font-weight: 400;
  color: #0c151c;
}
.temperature-max {
  font-size: 15px;
  font-weight: 600;
  color: #8cc8f2;
}
.temperature-min {
  font-size: 15px;
  font-weight: 400;
  color: #666464;
}
#country {
  color: #8cc8f2;
}
